* {
  /* (*) é um seletor universal ou seja todos os elementos.Ele afetará todos os elementos.*/

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position:  top center;
    background-size: cover;

     backgorund: color image -> repeat -> position/size (Obs: shorthan, forma abreviada de representar o código acima.)*/

  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  width: 360px;
  margin: 56px auto 0px;

 padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  margin-top: 8px;
}

/* Links*/

ul{
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0px;

}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: rgb(255, 255, 255, 0.1);
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/*pseudo-selector*/
ul li a:hover {
  background: rgb(255, 255, 255, 0.05);
  border: 1.5px solid white
}

#social-links {
  display: flex;
  padding: 24px;
  justify-content: center;
  align-self: stretch;
  font-size: 24px;
}

#social-links a {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
  }


#social-links a:hover {
  background: rgba(255, 255, 255, 0.20); 
}

footer {
  padding: 24px 0px;
  text-align: center;
  line-height: 24px;
  text-decoration-line: underline;

}