body {
  /*
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position:  top center;
    background-size: cover;

     backgorund: color image -> repeat -> position/size (Obs: shorthan, forma abreviada de representar o código acima.)*/

  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  width: 360px;
  height: 800px;
  border: 1px solid red;
  margin: auto;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
}

